.container {
    background-color:rgba(247, 147, 121, 0.56);
    padding: 30px;
    display: flex;
}

.bannerItem {
    margin: 5px;
}

.uparrow {
    color: green;
}

.downarrow {
    color: red;
}

.test {
    background-color: rgba(247, 147, 121, 1);
    border-color:rgba(247, 147, 121, 1);
}