.tab-list {  
  border-bottom: 1px solid rgba(247, 147, 121, 1);
  padding-left: 0;
  margin: 0 0 10px 0;
  background-color: rgba(247, 147, 121, 0.56);
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #FBF1F0;
  border: solid rgba(247, 147, 121, 1);
  border-width: 1px 1px 0 1px;
  border-radius: 10px 10px 0 0;
}

.tab-content {
  width: 500px;
  margin: auto;
}

/* Calculator styles */

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=number]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding-right: 5px;
  padding-top: 5px;
}

/* Style the submit button */
input[type=submit] {
  background-color:  rgba(247, 147, 121, 0.56);
  margin: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the container */
.compound-interest-calc {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 500px;
}

.text-align-left {
  text-align: left;
}

.banner-container {
  background-color:rgba(247, 147, 121, 0.56);
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.logo {
  height: 100px;
  padding: 10px;
}
