@font-face {
  font-family: 'Graphie';
  src: local('Graphie'), url(./font/Graphie-Light.otf);
}

body {
  margin: 0;
  /* font-family: 'Graphie', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Graphie', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #292929; */
  background-color: #FBF1F0;
  color: black;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-gradient-top: #3BABC3;
  --header-gradient-bottom: #2a7fa0;
}